@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Shrikhand");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

button {
  border: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header img {
  height: 30px;
  width: auto;
  margin-bottom: 10px;
  margin-top: 25px;
}

footer {
  background-color: #353535;
  padding: 20px;
  color: white;
}

footer img {
  -webkit-filter: invert(1);
          filter: invert(1);
  height: 17px;
  margin-bottom: 15px;
}

footer li {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: smaller;
  font-weight: 500;
}

footer .fas {
  margin-right: 10px;
}

.localisation {
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0px 6px 5px -5px darkgrey;
          box-shadow: inset 0px 6px 5px -5px darkgrey;
  color: #353535;
}

.localisation p {
  font-weight: bold;
  font-size: larger;
  padding: 15px;
  font-family: "Roboto", sans-serif;
}

.localisation .fas {
  margin-right: 15px;
}

.discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #f6f6f6;
  padding-block: 40px;
  padding-inline: 20px;
  font-family: "Roboto", sans-serif;
}

.discover h2 {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.discover p {
  margin-bottom: 25px;
  font-size: 1.3em;
  text-align: center;
  color: #6b6a6a;
}

.discover button {
  margin-block: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  font-weight: 500;
  color: white;
  padding: 20px;
  padding-inline: 25px;
  font-size: 1.2em;
  border-radius: 35px;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
}

.how {
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.how h2 {
  font-size: 1.5em;
  font-weight: bolder;
  margin-block: 30px;
}

.how__detail {
  padding: 25px;
  border-radius: 20px;
  background-color: #f6f6f6;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 15px;
  -webkit-box-shadow: 1px 1px 20px grey;
          box-shadow: 1px 1px 20px grey;
  position: relative;
}

.how__detail span {
  background-color: #9356DC;
  position: absolute;
  left: -15px;
  top: 20px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 8px;
  color: white;
  text-align: center;
  font-size: x-small;
}

.how .fas {
  margin-right: 20px;
  color: #7e7e7e;
}

.restaurant {
  background-color: #eaeaea;
  padding: 20px;
}
/*# sourceMappingURL=main.css.map */