@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Shrikhand");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

button {
  border: 0;
}

a {
  all: unset;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

.btn {
  margin-block: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  font-weight: 500;
  color: white;
  padding: 20px;
  padding-inline: 25px;
  font-size: 1.2em;
  border-radius: 35px;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.90;
  -webkit-box-shadow: 3px 3px 12px grey;
          box-shadow: 3px 3px 12px grey;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (min-width: 991px) {
  .cards-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cards-container h2 {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

@media screen and (min-width: 991px) {
  .cards-container h2 {
    text-align: center;
  }
}

.cards-container__card {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 5px 5px rgba(77, 75, 75, 0.19), 0 1px 1px rgba(73, 73, 73, 0.23);
          box-shadow: 0 5px 5px rgba(77, 75, 75, 0.19), 0 1px 1px rgba(73, 73, 73, 0.23);
  cursor: pointer;
}

@media screen and (min-width: 991px) {
  .cards-container__card {
    margin-bottom: 40px;
    margin-inline: 20px;
  }
}

@media screen and (min-width: 1300px) {
  .cards-container__card {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
  }
}

.cards-container__card__text {
  padding: 15px;
  position: relative;
  background-color: #FFF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.cards-container__card__text i {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2em;
  color: black;
}

.cards-container__card__text .fas {
  right: 18px;
  top: 18px;
  opacity: 0;
  font-size: 2.2em;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards-container__card__text .fas:hover {
  opacity: 1;
}

.cards-container__card__img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 175px;
  max-width: 100%;
  vertical-align: middle;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards-container__card__img--1 {
  background-image: url(../public/assets/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.cards-container__card__img--2 {
  background-image: url(../public/assets/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.cards-container__card__img--3 {
  background-image: url(../public/assets/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.cards-container__card__img--4 {
  background-image: url(../public/assets/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.cards-container__card__img--new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  padding: 7px 10px;
  font-weight: bold;
  color: #008766;
  font-family: "Roboto", sans-serif;
  font-size: small;
  border-radius: 2px;
}

.cards-container__card h3 {
  margin-bottom: 5px;
  font-weight: bold;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

.loader {
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid #eaeaea;
  border-top: 10px solid #99E2D0;
  border-bottom: 10px solid #9356DC;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: 3s linear 0s spin, 3s linear 0s disparition;
          animation: 3s linear 0s spin, 3s linear 0s disparition;
  opacity: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading {
  margin: 0;
  padding: 0;
  opacity: 1;
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: load 4s linear;
          animation: load 4s linear;
  background-color: #202020;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes load {
  0% {
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}

@keyframes load {
  0% {
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  font-size: large;
  padding-left: 20px;
}

header img {
  height: 30px;
  width: auto;
  margin-bottom: 10px;
  margin-top: 25px;
}

header .right, header a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

footer {
  background-color: #353535;
  padding: 20px;
  color: white;
}

@media screen and (min-width: 992px) {
  footer {
    text-align: center;
  }
}

footer img {
  -webkit-filter: invert(1);
          filter: invert(1);
  height: 17px;
  margin-bottom: 15px;
}

footer li {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: smaller;
  font-weight: 500;
}

footer .fas {
  margin-right: 10px;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

.localisation {
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0px 6px 5px -5px darkgrey;
          box-shadow: inset 0px 6px 5px -5px darkgrey;
  color: #353535;
}

.localisation p {
  font-weight: bold;
  font-size: larger;
  padding: 15px;
  font-family: "Roboto", sans-serif;
}

.localisation .fas {
  margin-right: 15px;
}

.discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #f6f6f6;
  padding-block: 40px;
  padding-inline: 20px;
  font-family: "Roboto", sans-serif;
}

.discover h2 {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.discover p {
  margin-bottom: 25px;
  font-size: 1.3em;
  text-align: center;
  color: #6b6a6a;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

.how {
  padding: 20px;
  background-color: #FFF;
}

@media screen and (min-width: 991px) {
  .how {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .how h2 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    text-align: center;
  }
}

.how__detail {
  padding: 25px;
  border-radius: 20px;
  background-color: #f6f6f6;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 15px;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 1px 1px rgba(0, 0, 0, 0.06), 0 5.3px 11.9px rgba(0, 0, 0, 0.072), 0 21.8px 33.4px rgba(0, 0, 0, 0.086);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 1px 1px rgba(0, 0, 0, 0.06), 0 5.3px 11.9px rgba(0, 0, 0, 0.072), 0 21.8px 33.4px rgba(0, 0, 0, 0.086);
  position: relative;
}

.how__detail span {
  background-color: #9356DC;
  position: absolute;
  left: -15px;
  top: 20px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 8px;
  color: white;
  text-align: center;
  font-size: x-small;
}

.how__detail:hover > i {
  color: #9356DC;
}

.how__detail:hover {
  background-color: #f5ecfe;
}

.how .fas {
  margin-right: 20px;
  color: #7e7e7e;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

.restaurant {
  background-color: #eaeaea;
  padding: 20px;
  padding-bottom: 40px;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

.image {
  background-image: url(../public/assets/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.fa-arrow-left {
  cursor: pointer;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -50px;
  background-color: #f6f6f6;
  padding: 20px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

@media screen and (min-width: 992px) {
  .menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu .titre-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  padding-right: 15px;
  font-size: 2em;
  font-family: "Shrikhand", sans-serif;
  position: relative;
}

@media screen and (min-width: 992px) {
  .menu .titre-page {
    min-width: 600px;
  }
}

.menu .titre-page .fas {
  position: absolute;
  font-size: 1.1em;
  opacity: 0;
  right: 13px;
  top: 13px;
  z-index: 1;
  cursor: pointer;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu .titre-page .fas:hover {
  opacity: 1;
}

.menu .carte {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 10px;
}

.menu__titre {
  text-transform: uppercase;
  margin-top: 30px;
  padding-left: 5px;
}

.menu__titre:after {
  content: "";
  display: block;
  width: 40px;
  padding-top: 5px;
  border-bottom: 3px solid #99E2D0;
}

.menu .rubrique {
  max-width: 100%;
}

@media screen and (min-width: 992px) {
  .menu .rubrique {
    min-width: 600px;
  }
}

.menu .plat {
  margin-top: 10px;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  -webkit-animation: apparition 1000ms;
          animation: apparition 1000ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFF;
  border-radius: 15px;
}

.menu .plat:hover .fa-check-circle {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.menu .plat:hover .container-bouton {
  width: 105px;
}

.menu .plat__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  padding-right: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu .plat__detail h3 {
  margin-bottom: 5px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu .plat__detail p {
  font-size: small;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal;
}

.menu .plat__droite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.menu .plat__droite .container-bouton {
  margin-right: -40px;
  -webkit-transition: background-color 600ms ease-in-out, width 600ms;
  transition: background-color 600ms ease-in-out, width 600ms;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 0px;
}

.menu .plat__droite .container-bouton .fa-check-circle {
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  font-size: x-large;
  background-color: #99E2D0;
  vertical-align: middle;
  color: white;
}

.menu .plat__droite .prix {
  font-weight: bold;
  font-size: small;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 15px;
  padding-bottom: 10px;
}

.menu__bouton {
  text-align: center;
}

@-webkit-keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  to {
    opacity: 1;
  }
}

@keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  to {
    opacity: 1;
  }
}

.menu .delay-1 {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.menu .delay-2 {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.menu .delay-3 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.menu .delay-4 {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.accueil h2 {
  font-size: 1.5em;
  font-weight: bolder;
  margin-block: 30px;
}

.accueil h3 {
  font-size: 1.1em;
}
/*# sourceMappingURL=main.css.map */