@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Shrikhand");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

button {
  border: 0;
}

a {
  all: unset;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

.btn {
  margin-block: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  font-weight: 500;
  color: white;
  padding: 20px;
  padding-inline: 25px;
  font-size: 1.2em;
  border-radius: 35px;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.cards-container__card {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 5px 5px rgba(77, 75, 75, 0.19), 0 1px 1px rgba(73, 73, 73, 0.23);
          box-shadow: 0 5px 5px rgba(77, 75, 75, 0.19), 0 1px 1px rgba(73, 73, 73, 0.23);
  cursor: pointer;
}

.cards-container__card__text {
  padding: 15px;
  position: relative;
  background-color: #FFF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.cards-container__card__text i {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: x-large;
}

.cards-container__card__img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 175px;
  max-width: 100%;
  vertical-align: middle;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards-container__card__img--1 {
  background-image: url(../public/assets/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.cards-container__card__img--2 {
  background-image: url(../public/assets/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.cards-container__card__img--3 {
  background-image: url(../public/assets/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.cards-container__card__img--4 {
  background-image: url(../public/assets/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.cards-container__card__img--new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  padding: 7px 10px;
  font-weight: bold;
  color: #008766;
  font-family: "Roboto", sans-serif;
  font-size: small;
  border-radius: 2px;
}

.cards-container__card h3 {
  margin-bottom: 5px;
  font-weight: bold;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  font-size: large;
  padding-left: 20px;
}

header img {
  height: 30px;
  width: auto;
  margin-bottom: 10px;
  margin-top: 25px;
}

header .right, header a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

footer {
  background-color: #353535;
  padding: 20px;
  color: white;
}

footer img {
  -webkit-filter: invert(1);
          filter: invert(1);
  height: 17px;
  margin-bottom: 15px;
}

footer li {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: smaller;
  font-weight: 500;
}

footer .fas {
  margin-right: 10px;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

.localisation {
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0px 6px 5px -5px darkgrey;
          box-shadow: inset 0px 6px 5px -5px darkgrey;
  color: #353535;
}

.localisation p {
  font-weight: bold;
  font-size: larger;
  padding: 15px;
  font-family: "Roboto", sans-serif;
}

.localisation .fas {
  margin-right: 15px;
}

.discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #f6f6f6;
  padding-block: 40px;
  padding-inline: 20px;
  font-family: "Roboto", sans-serif;
}

.discover h2 {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.discover p {
  margin-bottom: 25px;
  font-size: 1.3em;
  text-align: center;
  color: #6b6a6a;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

.how {
  padding: 20px;
}

.how__detail {
  padding: 25px;
  border-radius: 20px;
  background-color: #f6f6f6;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 15px;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 1px 1px rgba(0, 0, 0, 0.06), 0 5.3px 11.9px rgba(0, 0, 0, 0.072), 0 21.8px 33.4px rgba(0, 0, 0, 0.086);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 1px 1px rgba(0, 0, 0, 0.06), 0 5.3px 11.9px rgba(0, 0, 0, 0.072), 0 21.8px 33.4px rgba(0, 0, 0, 0.086);
  position: relative;
}

.how__detail span {
  background-color: #9356DC;
  position: absolute;
  left: -15px;
  top: 20px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 8px;
  color: white;
  text-align: center;
  font-size: x-small;
}

.how .fas {
  margin-right: 20px;
  color: #7e7e7e;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

.restaurant {
  background-color: #eaeaea;
  padding: 20px;
  padding-bottom: 40px;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

.image {
  background-image: url(../public/assets/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.menu {
  margin-top: -50px;
  background-color: #f6f6f6;
  padding: 20px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.menu .titre-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  padding-right: 15px;
  font-size: x-large;
  font-family: "Shrikhand", sans-serif;
}

.menu .carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 10px;
}

.menu__titre {
  text-transform: uppercase;
  margin-top: 30px;
  padding-left: 5px;
}

.menu__titre:after {
  content: "";
  display: block;
  width: 40px;
  padding-top: 5px;
  border-bottom: 3px solid #99E2D0;
}

.menu .plat {
  background-color: #FFF;
  padding: 10px;
  border-radius: 15px;
}

.menu .plat h3 {
  margin-bottom: 5px;
  font-weight: bold;
}

.menu .plat__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .plat__detail .prix {
  font-weight: bold;
}

.menu .plat p {
  font-size: small;
}

.accueil h2 {
  font-size: 1.5em;
  font-weight: bolder;
  margin-block: 30px;
}

.accueil h3 {
  font-size: 1.1em;
}
/*# sourceMappingURL=main.css.map */