@import "../utils/variables";

.localisation {
    background-color: rgb(234,234,234);
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 6px 5px -5px darkgrey;
    p {
        font-weight: bold;
        font-size: larger;
        padding: 15px;
        font-family: $font-text;
        color: rgb(53,53,53);
    }
    .fas {
        margin-right: 15px;
        color: rgb(53,53,53);
    }
}

.discover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: rgb(246,246,246);
    padding-block: 40px;
    padding-inline: 20px;
    font-family: $font-text;
    h2 {
        font-size:2em;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 25px;
        font-size:1.5em;
        text-align: center;
        color: rgb(107, 106, 106);
    }
    button {
        margin-block: 20px;
        background: linear-gradient(#FF79DA, #9356DC);
        font-weight: 500;
        color: white;
        padding: 20px;
        padding-inline: 25px;
        font-size:1.3em;
        border-radius: 35px;
        box-shadow: 1px 1px 5px grey;
    }
}