@import "../utils/variables";
@import "../base/typography";

.image {
    background-image: url(../public/assets/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    height: 250px;
    width: 100%;
    background-size:cover;
    background-position: center;
}
.fa-arrow-left {
    cursor: pointer;
}
.menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    @media screen and (min-width: 992px) {
        align-items: center;
    }
    margin-top: -50px;
    background-color: $grey-primary;
    padding: 20px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    .titre-page {
        @media screen and (min-width: 992px) {
            min-width: 600px;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 15px;
        padding-right: 15px;
        font-size: 2em;
        font-family: $font-primary;
        position: relative;
        .fas {
            position: absolute;
            font-size: 1.1em;
            opacity: 0;
            right: 13px;
            top: 13px;
            z-index: 1;
            cursor: pointer;

            transition-property: opacity;
            transition-duration: 1s;
            transition-delay: 0.3s;

            background:-moz-linear-gradient(top, $color-primary 0%, $color-secondary 100%); 
            background: -webkit-linear-gradient(top, $color-primary 0%, $color-secondary 100%); 
            background: linear-gradient(to bottom, $color-primary 0%,$color-secondary 100%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color:transparent;

            &:hover {
                opacity: 1;
            }
        }
    }
    .carte {
        max-width: 100%;
        display:flex;
        flex-flow: column wrap;
        gap: 10px;
    }
    &__titre {
        text-transform: uppercase;
        margin-top: 30px;
        padding-left: 5px;
        &:after {
            content: "";
            display: block;
            width: 40px;
            padding-top: 5px;
            border-bottom: 3px solid $green-primary;
        }
    }
    .rubrique {
        max-width: 100%;
        @media screen and (min-width: 992px) {
            min-width: 600px;
        }
    }
    .plat {
        margin-top: 10px;
        transition: all 500ms ease-in;
        animation: apparition 1000ms;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        justify-content: space-between;
        background-color: #FFF;
        border-radius: 15px;
        &:hover .fa-check-circle{
            transform: rotate(-360deg);
        }
        &:hover .container-bouton{
            width: 105px;
        }
        &__detail {
        display: flex;
        flex-direction: column;
        padding: 15px;
        padding-right: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex-shrink: 4;
            h3 {
                margin-bottom: 5px;
                font-weight: bold;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            p { font-size: small;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                line-height: normal; }
        }
        &__droite {
            display: flex;
            overflow: hidden;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            .container-bouton {
                margin-right: -40px;
                transition: background-color 600ms ease-in-out, width 600ms;
                background-color: $green-primary;
                display: flex;
                align-items: center;
                padding-inline: 20px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                width: 0px;
                .fa-check-circle {
                    transition: all 600ms ease-in-out;
                    font-size: x-large;
                    background-color: $green-primary;
                    vertical-align: middle;
                    color: white;
                }
            }
            .prix {
                font-weight: bold;
                font-size: small;
                align-self: flex-end;
                padding: 15px 15px 10px 10px;
            }
        }
    }
    &__bouton {
        text-align: center;
    }

    @keyframes apparition{
        from {
            opacity: 0;
            transform: translateY(50%);
        }
        to { opacity: 1 }
    }

    .delay-1 {
        animation-delay: .1s;
    }

    .delay-2 {
        animation-delay: .3s;
    }

    .delay-3 {
        animation-delay: .5s;
    }

    .delay-4 {
        animation-delay: .7s;
    }
}