@import "../utils/variables";

.btn {
    margin-block: 20px;
    background: $button-primary;
    font-weight: 500;
    color: white;
    padding: 20px;
    padding-inline: 25px;
    font-size:1.2em;
    border-radius: 35px;
    box-shadow: 1px 1px 5px grey;
    width: fit-content;
    transition : all 300ms;
    cursor: pointer;
    &:hover {
        opacity: 0.90;
        box-shadow: 3px 3px 12px grey;
    }
}