.btn {
    margin-block: 20px;
    background: linear-gradient(#FF79DA, #9356DC);
    font-weight: 500;
    color: white;
    padding: 20px;
    padding-inline: 25px;
    font-size:1.2em;
    border-radius: 35px;
    box-shadow: 1px 1px 5px grey;
    width: fit-content;
    transform: scale(1);
    transition : transform 400ms;
    &:hover {
        transform: scale(1.15);
    }
}