@import "../utils/variables";
@import "../base/typography";

.cards-container {
    display: flex;
    flex-flow: column;
    &__card {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        flex: 1 1 auto;
        flex-flow: column;
        margin-bottom: 20px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        &__text {
            padding: 15px;
            position: relative;
            i {
                position: absolute;
                right: 20px;
                top: 20px;
                font-size: x-large;
            }
        }
        &__img {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            height: 150px;
            max-width: 100%;
            vertical-align: middle;
            position: relative;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            &--1 {
                background-image: url(../public/assets/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            }
            &--2 {
                background-image: url(../public/assets/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
            }
            &--3 {
                background-image: url(../public/assets/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
            }
            &--4 {
                background-image: url(../public/assets/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
            }
            &--new {
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: $green-primary;
                padding: 7px 10px;
                font-weight: bold;
                color: $green-secondary;
                font-family: $font-secondary;
                font-size: small;
            }
        }
        h3 {
            margin-bottom: 5px;
            font-weight: bold;
        }
    }
}