$font-primary: 'Shrikhand', sans-serif;
$font-secondary: 'Roboto', sans-serif;

h2 {
    font-size:1.5em;
    font-weight: bolder;
    margin-block: 30px;
}

p, h2, h3 {
    font-family: $font-secondary;
}