$grey-primary: rgb(246,246,246);
$grey-secondary: rgb(234,234,234);
$grey-darker: rgb(53,53,53);
$grey-icon: rgb(126,126,126);

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-third: #99E2D0;

